<template name="CreateIssue">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Create new issue</h3>
    </div>
    <form class="panel-body">
      <div class="form-group">
        <label class="sr-only" for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
      </div>
      <div class="form-group">
        <!--TODO(vucalur): DRY violation: commenting & adding issue-->
        <label class="sr-only" for="issueCommentBody">Comment Body</label>
        <textarea class="form-control" rows="3" id="issueCommentBody" placeholder="Leave a comment"></textarea>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="cost">Cost</label>
          <input type="number" class="form-control" id="cost" min="1" max="12">
        </div>
        <div class="form-group col-md-3">
          <label for="priority">Priority</label>
          <input type="number" class="form-control" id="priority" min="1" max="5">
        </div>
        <div class="form-group col-md-3">
          <label for="assignee2">Assignee</label>
          <!--TODO(vucalur): typeahead-->
          <!--TODO(vucalur): hideous workaround with assignee2-->
          <select class="form-group form-control" id="assignee2">
            <option value=""></option>
            {{#each collaborators}}
              <option>{{login}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="milestone">Milestone</label>
          <!--TODO(vucalur): typeahead-->
          <!--TODO(vucalur): hideous workaround with milestone2 - findout why milestone doesn't work-->
          <select class="form-group form-control" id="milestone2">
            <option value="default"></option>
            {{#each milestones}}
              <option>
                <!--lame, but will be replaced with typeahead, which has custom templates -->
                {{title}} (<p id="milestoneNumber">{{number}}</p>)
              </option>
            {{/each}}
          </select>
        </div>
      </div>

      <!--TODO(p4r4noj4):event handling not finished, createDisabled flag not working. -->
      {{#if createDisabled}}
        <button type="button" class="btn btn-success" id="createIssue" disabled="disabled">Submit new issue</button>
      {{else}}
        <button type="button" class="btn btn-success" id="createIssue">Submit new issue</button>
      {{/if}}
    </form>
  </div>
</template>