<template name="IssueItem">
  <div class="list-group-item">
    <div class="row">
      <h4 class="list-group-item-heading col-lg-6">
        {{title}}
        {{#unless isOpen state}}
          <span class="badge" style="vertical-align: middle;">closed</span>
        {{/unless}}
      </h4>
      <h5 class="list-group-item-heading col-lg-6">
        <div class="col-md-11">
          <div class="pull-right">
            {{#if inEdition}}
              <form class="form-inline">
                <div class="form-group">
                  <label for="cost">Cost</label>
                  <input type="number" class="form-control" id="cost" min="1" max="12" value="{{cost}}">
                </div>
                <div class="form-group">
                  <label for="priority">Priority</label>
                  <input type="number" class="form-control" id="priority" min="1" max="5" value="{{priority}}">
                </div>
              </form>
            {{else}}
              <div style="margin-top:6px;">
                Cost <span class="badge {{#if cost}}alert-warning{{else}}alert-danger{{/if}}" style="vertical-align: middle;">{{#if cost}}{{cost}}{{else}}none{{/if}}</span>
                Priority <span class="badge {{#if priority}}alert-success{{else}}alert-danger{{/if}}" style="vertical-align: middle;">{{#if priority}}{{priority}}{{else}}none{{/if}}</span>
              </div>
            {{/if}}
          </div>
        </div>
        <!--<div class="col-md-1">-->
          <div class="pull-right">
            {{#if assignee}}
              <img class="img-circle" style="max-height:30px" src="{{assignee.avatar_url}}" title="Assigned to {{assignee.login}}" alt="Assigned to {{assignee.login}}">
            {{/if}}
          </div>
        <!--</div>-->
      </h5>
    </div>

    <p class="list-group-item-text">{{#markdown}}{{#emoji}}{{body}}{{/emoji}}{{/markdown}}</p>

    <button type="button" class="btn btn-info" id="showComments">Show comments</button>
    {{#if isOpen state}}
      <button type="button" class="btn btn-default" id="closeIssue">Close issue</button>
    {{/if}}
    {{#if inEdition}}
      <div class="pull-right">
        <button type="button" class="btn btn-default" id="cancelEdit">Cancel</button>
        <button type="button" class="btn btn-default" id="saveEdit">Save</button>
      </div>
    {{else}}
      <button type="button" class="btn btn-default pull-right" id="editIssue">Edit</button>
    {{/if}}

    <div class="row">
      <div class="panel-collapse collapse col-md-offset-1 col-md-10 " id="{{commentsId}}">
        {{#if comments.length}}
          <ul class="media-list">
            {{#each comments}}
              {{> CommentItem}}
            {{/each}}
          </ul>
        {{else}}
          <div class="panel-body text-center panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">No comments yet</h3>
            </div>
          </div>
        {{/if}}
        {{>AddComment}}
      </div>
    </div>
  </div>
</template>


<template name="CommentItem">
  <li class="media">
    <div class="media-left">
      <img class="media-object img-circle" style="max-height:70px" src="{{user.avatar_url}}">
    </div>
    <div class="media-body">
      <h5 class="media-heading">{{user.login}}</h5>
      {{#markdown}}{{#emoji}}{{body}}{{/emoji}}{{/markdown}}
    </div>
  </li>
</template>


<template name="AddComment">
  <form>
    <div class="form-group">
      <label class="sr-only" for="commentBody">Leave a comment</label>
      <!--TODO(vucalur): markdown support-->
      <textarea class="form-control" rows="3" id="commentBody" placeholder="Leave a comment"></textarea>
    </div>
    <button type="button" class="btn btn-success" id="addComment">Comment</button>
  </form>
</template>

