<template name="IssueItem">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">{{title}}{{#unless isOpen state}} <span class="badge">closed</span>{{/unless}} {{#if priority}}<span class="label label-warning">Priority: <span class="badge alert-danger">{{priority}}</span></span> {{/if}}{{#if cost}}<span class="label label-warning">Cost: <span class="badge alert-danger">{{cost}}</span></span> {{/if}}{{#if assignee}}<span class="label label-warning">Assignee: <span class="badge alert-danger">{{assignee.login}}</span></span>{{/if}}</h4>

    <p class="list-group-item-text">{{#markdown}}{{#emoji}}{{body}}{{/emoji}}{{/markdown}}</p>

    <button type="button" class="btn btn-info" id="showComments">Show comments</button>
    {{#if isOpen state}}
      <button type="button" class="btn btn-default" id="closeIssue">Close issue</button>
    {{/if}}

    <div class="row">
      <div class="panel-collapse collapse col-md-offset-1 col-md-10 " id="{{commentsId}}">
        {{#if comments.length}}
          <ul class="media-list">
            {{#each comments}}
              {{> CommentItem}}
            {{/each}}
          </ul>
        {{else}}
          <div class="panel-body text-center panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">No comments yet</h3>
            </div>
          </div>
        {{/if}}
        {{>AddComment}}
      </div>
    </div>
  </div>
</template>


<template name="CommentItem">
  <li class="media">
    <div class="media-left">
      <img class="media-object img-circle" style="max-height:70px" src="{{user.avatar_url}}">
    </div>
    <div class="media-body">
      <h5 class="media-heading">{{user.login}}</h5>
      {{#markdown}}{{#emoji}}{{body}}{{/emoji}}{{/markdown}}
    </div>
  </li>
</template>


<template name="AddComment">
  <form>
    <div class="form-group">
      <label class="sr-only" for="commentBody">Leave a comment</label>
      <!--TODO(vucalur): markdown support-->
      <textarea class="form-control" rows="3" id="commentBody" placeholder="Leave a comment"></textarea>
    </div>
    <button type="button" class="btn btn-success" id="addComment">Comment</button>
  </form>
</template>

