<template name="IssueItem">
  <div class="list-group-item">
    <div class="row">
      <h4 class="list-group-item-heading col-md-6">
        {{title}}
        {{#unless isOpen state}}
          <span class="badge" style="vertical-align: middle;">closed</span>
        {{/unless}}
      </h4>
      <h5 class="list-group-item-heading col-md-6">
        <div class="pull-right">
          {{#if priority}}
            Priority <span class="badge alert-success" style="vertical-align: middle;">{{priority}}</span>
          {{/if}}
          {{#if cost}}
            Cost <span class="badge alert-warning" style="vertical-align: middle;">{{cost}}</span>
          {{/if}}
          {{#if assignee}}
            <img class="img-circle" style="max-height:30px" src="{{assignee.avatar_url}}" title="Assigned to {{assignee.login}}" alt="Assigned to {{assignee.login}}">
          {{/if}}
        </div>
      </h5>
    </div>

    <p class="list-group-item-text">{{#markdown}}{{#emoji}}{{body}}{{/emoji}}{{/markdown}}</p>

    <button type="button" class="btn btn-info" id="showComments">Show comments</button>
    {{#if isOpen state}}
      <button type="button" class="btn btn-default" id="closeIssue">Close issue</button>
    {{/if}}

    <div class="row">
      <div class="panel-collapse collapse col-md-offset-1 col-md-10 " id="{{commentsId}}">
        {{#if comments.length}}
          <ul class="media-list">
            {{#each comments}}
              {{> CommentItem}}
            {{/each}}
          </ul>
        {{else}}
          <div class="panel-body text-center panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">No comments yet</h3>
            </div>
          </div>
        {{/if}}
        {{>AddComment}}
      </div>
    </div>
  </div>
</template>


<template name="CommentItem">
  <li class="media">
    <div class="media-left">
      <img class="media-object img-circle" style="max-height:70px" src="{{user.avatar_url}}">
    </div>
    <div class="media-body">
      <h5 class="media-heading">{{user.login}}</h5>
      {{#markdown}}{{#emoji}}{{body}}{{/emoji}}{{/markdown}}
    </div>
  </li>
</template>


<template name="AddComment">
  <form>
    <div class="form-group">
      <label class="sr-only" for="commentBody">Leave a comment</label>
      <!--TODO(vucalur): markdown support-->
      <textarea class="form-control" rows="3" id="commentBody" placeholder="Leave a comment"></textarea>
    </div>
    <button type="button" class="btn btn-success" id="addComment">Comment</button>
  </form>
</template>

